body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}



.jazz-frame {
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.border {
  position: absolute;
  background: linear-gradient(to right, #d8b75f, #9b7734);
  opacity: 1;
  z-index: 5;
}

.border.top,
.border.bottom {
  height: 2px;
  width: 100%;
}

.border.left,
.border.right {
  width: 2px;
  height: 100%;
}

.border.top {
  top: 0;
  left: 0;
}

.border.bottom {
  bottom: 0;
  left: 0;
}

.border.left {
  top: 0;
  left: 0;
}